@model LandingPage.Models.News

@{
    ViewBag.Title =  "News Details";
}
<h3>News</h3>
<div class="col-md-10 col-md-offset-1">
    
    <hr />
    <img class="pull-right" src="~/Content/images/business.jpg" style="max-height: 200px; max-width: 300px; margin-bottom:50px; margin-left:25px;" />
            <h4>  @Html.DisplayFor(model => model.Title)</h4>


    <p>@Html.DisplayFor(model => model.Content)</p>
            @Html.DisplayFor(model => model.PublishedDate)
    <br /><br /><br />

    @if(ViewBag.next != null)
    { 
    <a href='@Url.Action("Details", "News", new { id=ViewBag.next })'>
        Nästa nyhet >
    </a>
    }

</div>

